.wrapper_footer{
    display: flex;
    justify-content: center;
}

@media (max-width: 1895px) {
  #webbutton {
    max-width: 20%;
  }

  .wrapper_footer {
    flex-direction: column;
  }
}

@media (max-width: 1024px){
  ul li {
    list-style: none;
    margin: 0px;
    font-size: 0.9em;
  }

  .avatarAutoSizeInner {
    position: relative;
    width: 128px;
    height: 128px;
  }

  .todoListLabel{
    font-style: italic;
    font-size: 1.5em;
    font-weight: 300;
  }
}

@media (max-width: 707px) {
  p{
    font-size: 18px;
    font-weight: 400;
  }

  h1{
    font-size: 2em;
    font-weight: 600;
    font-weight: bold;
    unicode-bidi: isolate;
  }

  h2{
    font-size: 1.5em;
    font-weight: 500;
    font-weight: bold;
    unicode-bidi: isolate;
  }

  h3{
    font-size: 1.17em;
    font-weight: 450;
    font-weight: bold;
    unicode-bidi: isolate;
  }

  h4{
    font-size: 1em;
    font-weight: 400;
    font-weight: bold;
    unicode-bidi: isolate;
  }

  h5{
    font-size: 0.83em;
    font-weight: 400;
    font-weight: bold;
    unicode-bidi: isolate;
  }

  h6{
    font-size: 0.67em;
    font-weight: 300;
    font-weight: bold;
    unicode-bidi: isolate;
  }

  body{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-size: 16px;
    font-style: normal;
  }

  #container {
    width: 97%;
  }

  #footerText{
      font-size: 12px;
  }

  #mainDIV{
    width: 100%;
    max-width: 100%;
    line-height: 1.1;
  }

  #headerObj {
    margin: 10px auto 15px auto;
    position: relative;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
  }

  .headerWord2{
    margin-left: -7px;
  }

  .avatarAutoSizeInner {
    position: relative;
    width: 96px;
    height: 96px;
  }

  ul li a {
    position: relative;
    display: block;
    text-align: center;
    line-height: 64px;
    font-size: 16px;
    transition: 0.35s;
  }

  ul li {
    list-style: none;
    margin: 0px;
    text-wrap: auto;
    word-break: break-word;
    font-size: 1em;
  }

  .todoListLabel{
    font-style: italic;
    font-size: 1.1em;
    font-weight: 300;
  }

  .underConstruction {
    font-size: 1.9em;
    font-weight: 400;
    text-align: center;
  }

  #navbar li {
    padding-top: 0px;
    padding-left: 10px;
  }

  .innerhome {
    padding: 12px;
  }

  #container a {
    font-size: 18px;
    font-weight: 400;
  }
}
