.wrapper_footer{
    display: flex;
    justify-content: center;
}

@media (max-width: 1895px) {
  #webbutton {
    max-width: 20%;
  }

  .wrapper_footer {
    flex-direction: column;
  }
}

@media (max-width: 707px) {
    #footerText{
        font-size: 12px;
    }
}
